:root {
    --font-family: Arial;

    --body-bg-color: white;
    --body-txt-color: black;

    --section-bg-color: rgb(187, 181, 181);
    --section-color: black;
}

/* Mode sombre */
:root.dark {
    --body-bg-color: rgb(12, 26, 53);
    --body-txt-color: white;

    --section-bg-color: rgb(95, 124, 163);
    --section-color: white;
}


/* Eléments cachés */
.hidden {
    display: none;
}

/* Icônes */
.icon {
    width: 32px;
    height: 32px;
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;  /* hérite de la couleur du parent */

}

#burger-menu {
    font-size:  42px; /* ajustement manuel */
    position: relative;
    top: -1px;  /* ajustement manuel */
}

/* Body */
body {
    background-color: var(--body-bg-color);
    color: var(--body-txt-color);
    font-family: var(--font-family);

    margin: auto;
    padding: 0;

    min-height: 100vh;

    display: grid;
    justify-items: center;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
}


/* Header */
header {
    grid-area: header;

    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 
    "photo titre buttons"
    "navbar navbar navbar";
}

#photo {
    grid-area: photo;
    width: 5em;
}

#titre {
    grid-area: titre;
}

#buttons {
    grid-area: buttons;
}

/* Barre de navigation */
header nav {
    grid-area: navbar;
}

.liens {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
}

.liens li {
    list-style: none;
}

.liens a {
    text-decoration: none;
    color: var(--body-txt-color)
}


/* Main */
main {
    grid-area: main;

    display: flex;
    flex-direction: column;
}

/* Section */
section {
    background-color: var(--section-bg-color);
    color: var(--section-color);

    border: 1px solid;
    border-radius: 1em;

    margin: 1em;
    padding: 1em;
}


/* Footer */
footer {
    grid-area: footer;
}