:root {
    --font-family: Arial;

    --body-bg-color: white;
    --body-txt-color: black;

    --section-bg-color: rgb(187, 181, 181);
    --section-color: black;
}

:root.dark {
    --body-bg-color: rgb(12, 26, 53);
    --body-txt-color: white;

    --section-bg-color: rgb(95, 124, 163);
    --section-color: white;
}



/* Eléments cachés */
.hidden {
    display: none;
}

/* Icônes */
.icon {
    width: 2em;
    height: 2em;
}







/* Body */
body {
    background-color: var(--body-bg-color);
    color: var(--body-txt-color);
    font-family: var(--font-family);

    min-height: 100vh;

    display: grid;
    justify-items: center;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
}


/* Header */
header {
    grid-area: header;
}



/* Barre de navigation */
nav {
    grid-area: nav;
}

.liens {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
}

.liens li {
    list-style: none;
}

.liens a {
    text-decoration: none;
    color: var(--body-txt-color)
}


/* Main */
main {
    grid-area: main;

    display: flex;
    flex-direction: column;
}

/* Section */
section {
    background-color: var(--section-bg-color);
    color: var(--section-color);

    border: 1px solid;
    border-radius: 1em;

    margin: 1em;
    padding: 1em;
}


/* Footer */
footer {
    grid-area: footer;
}