#a-propos {
    display: grid;
    text-align: center;
    grid-template-areas: 
    "titre"
    "photo"
    "descriptif";
}

#a-propos h2 {
    grid-area: titre;
} */


#a-propos div:first-of-type {
    grid-area: photo;
}

#a-propos .photo-profil {
  width: 50%;
}

#a-propos div:last-of-type {
    grid-area: descriptif;
    text-align: justify;
}

@media screen and (min-width: 820px) {
  #a-propos {
    grid-template-areas:
      "titre titre"
      "photo descriptif";
  }
}