#a-propos {
  display: grid;
  text-align: center;
  grid-template-rows: 1fr;
  grid-template-areas:
    "titre"
    "photo"
    "descriptif";
}

#a-propos h2 {
  grid-area: titre;
}

#a-propos div {
  padding: var(--padding-default);
}

#a-propos-photo {
  grid-area: photo;
}

#a-propos-descriptif {
  grid-area: descriptif;
  text-align: justify;
}


/* Titre animé */
.terminal {
  font-family: 'Courier New', Courier, monospace;
  font-size: clamp(2.5em, 6vw, 4em);
  /* s’adapte entre 1.5em et 2.5em selon la largeur de l’écran */

  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid;

  /* Curseur */
  width: 0;
  animation: typing 5s steps(22) forwards, blink 1s step-end infinite;
}

.cursor {
  display: none;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 22ch
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}


@media screen and (min-width: 820px) {
  #a-propos {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "titre titre"
      "photo descriptif";
  }
}