#contact form {
    background: var(--subsection-bg);

    border-radius: 0.5em;
    border-top: 1px solid var(--section-border-color);
    border-left: 1px solid var(--section-border-color);
    box-shadow: 15px 15px 15px var(--section-shadow-color);

    padding: var(--padding-default);
    gap: var(--padding-default);

    display: grid;
    grid-template-areas:
        "nom"
        "prenom"
        "email"
        "message"
        "submit";
}

label {
    display: block;
    /* saut à la ligne après l'étiquette */
}

input,
textarea {
    width: 100%;
    box-sizing: border-box;
    height: 2em;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}

.nom {
    grid-area: nom;
}

.prenom {
    grid-area: prenom;
}

.email {
    grid-area: email;
}

.message {
    grid-area: message;
}

.message textarea {
    height: 10em;
}

#form-submit {
    grid-area: submit;
    padding: 8px;
    width: auto;
    margin: auto;
}

#form-submit:disabled {
    background-color: transparent;
    color: var(--body-txt-color);
    border: none;
}

.asterisk {
    font-size: 0.9em;
}

@media screen and (min-width: 400px) {
    #contact form fieldset {
        grid-template-areas:
            "nom prenom"
            "email email"
            "message message"
            "submit submit";
    }
}

@media screen and (min-width: 800px) {
    #contact form {
        grid-template-areas:
            "nom prenom email"
            "message message message"
            "submit submit submit";
    }
}