/* Header */
header {
    position: sticky;
    top: 0;
    z-index: 100;
    /* background: var(--body-bg); */
    backdrop-filter: blur(100px);
    /* flou */

    grid-area: header;

    padding: 1em var(--padding-default);

    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
        "photo titre buttons";

    align-items: center;
}

/* photo */
#photo {
    grid-area: photo;
    /* height: var(--header-height); */
}

/* titre */
#titre {
    grid-area: titre;
    padding-left: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1 {
    font-size: 1.4em;
}

#titre h1,
#titre p {
    margin: 0;
    padding: 0;
}

#titre p {
    font-size: 0.8em;
}

/* boutons */
#buttons {
    grid-area: buttons;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* Barre de navigation */
#menu {
    position: absolute;
    top: 90px;
    right: 0;
    z-index: 1;

    background-color: var(--section-bg-color);
    backdrop-filter: blur(100px);

    box-shadow: 15px 15px 15px var(--section-shadow-color);
}

#menu ul {
    margin: auto;
    padding: 1em;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

#menu li {
    list-style: none;
}

#menu a {
    text-decoration: none;
    color: var(--body-txt-color)
}



@media screen and (min-width: 1100px) {

    /* Header */
    header {
        grid-template-columns: auto auto 1fr auto;
        grid-template-areas:
            "photo titre menu buttons";
    }

    #burger-btn {
        display: none;
    }

    /* Barre de navigation */
    #menu {
        grid-area: menu;
        position: relative;
        top: auto;
        right: auto;

        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: none;
        box-shadow: none;

        display: flex;
        justify-content: center;
    }

    #menu ul {
        margin: 0;
        padding: 1em 0;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 1em;
    }

    #menu li {
        list-style: none;
    }

    #menu a {
        text-decoration: none;
        color: var(--body-txt-color)
    }
}
