:root {
  --font-family: Arial;
  --header-height: 4em;
  /* utilisé pour la dimension de la photo de profil et le positionnement du menu déroulant */

  --body-bg: linear-gradient(rgba(255, 255, 255, 0.0), rgba(0, 47, 148, 0.2)),
    url('/img/background/pawel-czerwinski-Slf8QxaFIWw-unsplash.jpg');
  --body-txt-color: #323232;

  --menu-bg-color: rgba(208, 218, 224, 1); /* pour le menu déroulant */

  --section-bg-color: rgba(255, 255, 255, 0.5);
  --section-color: black;
  --section-shadow-color: rgba(0, 0, 0, 0.5);

  --filter: invert(0%)  /* couleur par défaut (noir) pour les svg */
}

/* Mode sombre */
:root.dark {
  --body-bg: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 47, 148, 0.7)),
    url('/img/background/pawel-czerwinski-Slf8QxaFIWw-unsplash.jpg');
  --body-txt-color: white;

  --menu-bg-color: #282e31;  /* pour le menu déroulant */

  --section-bg-color: rgba(0, 0, 0, 0.5);
  --section-color: white;
  --section-shadow-color: rgba(255, 255, 255, 0.5);

  --filter: invert(100%)  /* couleur inverse (blanc) pour les svg */
}


/* Eléments cachés */
.hidden {
  display: none;
}

/* Icônes */
.icon {
  width: 32px;
  height: 32px;
  line-height: 32px;
  /* permet d'aligner verticalement lorsque height=lineHeight */
  font-size: 32px;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
  filter: var(--filter) /* permet de changer la couleur suivant le mode clair/sombre */
}

/* Photo ronde */
.rounded-full {
  border-radius: 50%;
}



/* Body */
body {
  background: var(--body-bg);
  background-size: cover;

  color: var(--body-txt-color);
  font-family: var(--font-family);

  margin: auto;
  padding: 1em;

  min-height: 100vh;

  display: grid;
  justify-items: center;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

#root {
  width: 100%;
}





/* Main */
main {
  grid-area: main;

  display: flex;
  flex-direction: column;
}

/* Section */
section {
  background-color: var(--section-bg-color);
  color: var(--section-color);

  box-shadow: 15px 15px 15px var(--section-shadow-color);
  border-radius: 0.5em;

  margin: 1em;
  padding: 1em;
  
}


/* Sections */
section h2 {
  text-align: center; 
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
    text-align: center;
}

.card {
    padding: 1em;
    max-width: 300px;
}


/* Footer */
footer {
  grid-area: footer;
  text-align: center;
}

