:root {
  --font-family: Arial;

  --margin-default: 0;
  --padding-default: 1em;

  --header-height: 4em;
  /* utilisé pour la dimension de la photo de profil et le positionnement du menu déroulant */

  --body-bg: linear-gradient(rgba(255, 255, 255, 0.0), rgba(0, 47, 148, 0.2)),
    url('/img/background/pawel-czerwinski-Slf8QxaFIWw-unsplash_3840_2160.webp');
  --body-txt-color: #323232;

  --menu-bg-color: rgba(208, 218, 224, 1);
  /* pour le menu déroulant */

  --section-bg-color: rgba(255, 255, 255, 0.5);
  --section-color: black;
  --section-shadow-color: rgba(0, 0, 0, 0.5);

  --filter: invert(0%);
  /* couleur par défaut (noir) pour les svg */

  --popup-call-color: red
}

/* Mode sombre */
:root.dark {
  --body-bg: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 47, 148, 0.7)),
    url('/img/background/pawel-czerwinski-Slf8QxaFIWw-unsplash_3840_2160.webp');
  --body-txt-color: white;

  --menu-bg-color: #282e31;
  /* pour le menu déroulant */

  --section-bg-color: rgba(0, 0, 0, 0.5);
  --section-color: white;
  --section-shadow-color: rgba(255, 255, 255, 0.5);

  --filter: invert(100%);
  /* couleur inverse (blanc) pour les svg */

  --popup-call-color: lightcoral
}


/* Eléments cachés */
.hidden {
  display: none;
}

/* Icônes */
.icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  color: var(--body-txt-color)
}

.svg {
  filter: var(--filter);
  /* permet de changer la couleur suivant le mode clair/sombre */
}

/* Photo ronde */
.rounded-full {
  border-radius: 50%;
}

/* Paragraphes */
p {
  text-align: justify;
}

/* Ancrage */
a {
  text-decoration: none;
  font-weight: bold;
  color: var(--body-txt-color);
}


/* Body */
body {
  background: var(--body-bg);
  background-size: cover;

  color: var(--body-txt-color);
  font-family: var(--font-family);

  margin: var(--margin-default);
  /* padding: auto; */



  /* display: grid; */
  /* justify-items: center; */
  /* grid-template-areas:
    "header"
    "nav"
    "main"
    "footer"; */

}

/* Root de React */
#root {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Main */
main {
  grid-area: main;

  padding: var(--padding-default);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
}

/* Sections */
section {
  background-color: var(--section-bg-color);
  color: var(--section-color);

  box-shadow: 15px 15px 15px var(--section-shadow-color);
  border-radius: 0.5em;

  padding: var(--padding-default);

  flex: 1 1 auto;
  /* utiliser tout l'espace disponible - taille proportionnelle */

}

.flex-auto {
  flex: 1 1 auto;
  /* utiliser tout l'espace disponible - taille proportionnelle */
}

/* Titre section */
section h2 {
  text-align: center;
}

/* Sous section */
section.subsection {
  box-shadow: none;
}


/* Container */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: var(--padding-default);
  text-align: center;
}

/* Carte */
.card {
  padding: var(--padding-default);
  max-width: 300px;
}


/* ==== Popup affiché lorsque qu'on clique sur Voir Plus ===== */
/* Popup call */
.popup-call {
  color: var(--popup-call-color);
  font-size: 0.9em;
  cursor: pointer;
  transition: scale 0.5s;
}

.popup-call:hover {
  scale: 1.2;
}

/* Popup overlay - placé juste derrière la popup card pour masquer le reste de l'écran */
.popup-overlay {
  /* On couvre la surface d'affichage */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: 998;
  /* juste derrière la popup */
  background-color: rgba(128, 128, 128, 0.5);
  /* on opacifie l'arrière plan */
  backdrop-filter: blur(2px);
  /* flou */
}

/* Popup card - Contenu */
.popup-card {
  /* Positionne la popup au centre de l'écran */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Place la popup au 1er plan */
  z-index: 999;

  background-color: var(--menu-bg-color);
  padding: var(--padding-default);
  border-radius: 0.5em;

  width: max-content;
  /* ajuster au contenu dans la limite de la largeur max défini */
  max-width: 80vw;
  max-height: 90vh;
  overflow: auto;
  /* gère le débordement */
}

/* Bouton de fermeture */
.popup-close {
  text-align: right;
  margin: 0;
  cursor: pointer;
}

/* Impression */
@media print {

  /* Retire l'image d'arrière plan du site */
  body {
    background: white !important;
    background-image: none !important;
  }

  /* Retire le header et le footer */
  header,
  footer {
    display: none !important;
  }
}