:root {
  --font-family: Arial;
  --header-height: 4em;
  /* utilisé pour la dimension de la photo de profil et le positionnement du menu déroulant */

  --body-bg: linear-gradient(rgba(255, 255, 255, 0.0), rgba(0, 47, 148, 0.2)),
    url('src/assets/img/background/pawel-czerwinski-Slf8QxaFIWw-unsplash.jpg');
  --body-txt-color: #323232;

  --menu-bg-color: rgba(208, 218, 224, 1);

  --section-bg-color: rgba(255, 255, 255, 0.5);
  --section-color: black;
  --section-shadow-color: rgba(0, 0, 0, 0.5);

}

/* Mode sombre */
:root.dark {
  --body-bg: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 47, 148, 0.7)),
    url('src/assets/img/background/pawel-czerwinski-Slf8QxaFIWw-unsplash.jpg');
  --body-txt-color: white;

  --menu-bg-color: #282e31;

  --section-bg-color: rgba(0, 0, 0, 0.5);
  --section-color: white;
  --section-shadow-color: rgba(255, 255, 255, 0.5);

}


/* Eléments cachés */
.hidden {
  display: none;
}

/* Icônes */
.icon {
  width: 32px;
  height: 32px;
  /* line-height: 32px; */
  font-size: 32px;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  /* hérite de la couleur du parent */

}

/* Images */
.rounded-full {
  border-radius: 50%;
}

#burger-menu {
  font-size: 42px;
  /* ajustement manuel */
  position: relative;
  top: -1px;
  /* ajustement manuel */
}

/* Body */
body {
  background: var(--body-bg);
  background-size: cover;

  color: var(--body-txt-color);
  font-family: var(--font-family);

  margin: auto;
  padding: 1em;

  min-height: 100vh;

  display: grid;
  justify-items: center;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}


/* Header */
header {
  grid-area: header;
  width: 100%;

  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "photo titre buttons";
}

#photo {
  grid-area: photo;
  height: var(--header-height);
}

#titre {
  grid-area: titre;
  padding-left: 1em;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#titre h3,
#titre p {
  margin: 0;
  padding: 0;
}

#titre p {
  font-size: 0.8em;
}

#buttons {
  grid-area: buttons;
}

/* Barre de navigation */
#menu {
  display: none;
  position: absolute;
  background-color: var(--menu-bg-color);
  box-shadow: 15px 15px 15px var(--section-shadow-color);
  top: calc(var(--header-height) + 1em);
  right: 0;
}

#menu ul {
  margin: auto;
  padding: 1em;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

#menu li {
  list-style: none;
}

#menu a {
  text-decoration: none;
  color: var(--body-txt-color)
}


/* Main */
main {
  grid-area: main;

  display: flex;
  flex-direction: column;
}

/* Section */
section {
  background-color: var(--section-bg-color);
  color: var(--section-color);

  box-shadow: 15px 15px 15px var(--section-shadow-color);
  border-radius: 0.5em;

  margin: 1em;
  padding: 1em;
}

#a-propos .photo-profil {
  width: 50%;
}

section h2 {
  color: var(--title-color)
}


/* Footer */
footer {
  grid-area: footer;
  text-align: center;
}

@media screen and (min-width: 574px) {

  /* Header */
  header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      "photo titre buttons"
      "menu menu menu";
  }

  #burger-menu {
    display: none;
  }

  /* Barre de navigation */
  #menu {
    grid-area: menu;
    display: block;
    position: relative;
    top: auto;
    right: auto;

    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
  }

  #menu ul {
    margin: auto;
    padding: 1em;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;
  }

  #menu li {
    list-style: none;
  }

  #menu a {
    text-decoration: none;
    color: var(--body-txt-color)
  }
}

@media screen and (min-width: 1000px) {

  /* Header */
  header {
    grid-template-columns: auto auto 1fr auto;
    grid-template-areas:
      "photo titre menu buttons";
  }
}